<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name = "Browser" value="Chrome"/>
  <test thread-count="5" name="Test">
 	 <groups>
 		 <run>
 		 <include name = " Smoke"/>
 		 <include name = " Integration"/>
 		 <include name = " Regression"/>
 		  
 	 
 		 </run>
  
  
  	</groups>
    <classes>
      <class name="packAuto1.WidgetTest"/>
      <class name = "packAuto1.FaceBookPages"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

 